@font-face {
    font-family: cinema;
    src: url(cinema_st.ttf);
}

.table-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 35px;
}

#form-control {
    background-color: rgb(165, 160, 160);
    width: 100vw;
    height: 90vh;
}

.form-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 43vw;
    text-align: center;
    font-family: 'Lobster';
    height: 50vh;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

input[type=text] {
    /* border: none; */
    border-radius: 4px;
    border-color: black;
}

select {
    /* border: none; */
    border-radius: 4px;
    border: solid 2px black;
}

#add-a-movie-title {
    text-align: center; 
    font-size: 45px;
    font-family: cinema;
}

#movie-list {
    background-color: rgb(165, 160, 160);
    width: 100vw;
    height: 90vh;
}

.my-movie-title {
    text-align: center;
    font-size: 45px;
    font-family: cinema;
}

.submit {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: outset 5px;
    border-radius: 10px;
    background-color: yellow;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Lobster';
}

.new-movie {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: outset 5px;
    border-radius: 10px;
    background-color: yellow;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Lobster';
}

.new-movie:hover {
    cursor: pointer;
}

.submit:hover {
    cursor: pointer;
}

.table-headers {
    font-family: 'Lobster';
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.table-headers > div {
    border-left: solid 2px black;
}

#movieTable {
    font-family: 'Lobster';
    text-align: center;
    margin: 0 auto;
}

.row1 > div {
    font-family: 'Lobster';
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 20px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

#movieTitleError {
    color: red;
}

#movieRatingError {
    color: red;
}

#yearProducedError {
    color: red;
}

#yourRatingError {
    color: red;
}

#genreError {
    color: red;
}

#viewingOptionError {
    color: red;
}